<div class="container">
  <div class="resizer" [ngStyle]="{'width.px': canvas.width + 2}">
    <div #header class="header" [ngClass]="{ 'wrapped': user_section.clientWidth + server_section.clientWidth > header.clientWidth }">
      <div class="user-section-container">
        <div #user_section class="user-section">
          <div class="pfp" *ngIf="user != null" [ngStyle]="{ 'background-image': 'url(' + pfpUrl + ')' }"></div>
          <div class="username">{{'@' + (user.length > 15 ? user.slice(0, 15) + '...' : user)}}</div>
        </div>
      </div>
      <div class="server-section-container">
        <div #server_section class="server-section">
          <div class="channel-name">{{'#' + (channel.length > 15 ? channel.slice(0, 15) + '...' : channel)}}</div>
          <div class="icon" *ngIf="user != null" [ngStyle]="{ 'background-image': 'url(' + iconUrl + ')' }"></div>
        </div>
      </div>
    </div>
    <div class="canvas-bg">
      <canvas #canvas>
      </canvas>
    </div>
    <div #pallette class="palette-container">

    </div>
  </div>
  <div class="resize-head" [ngStyle]="{ 'left.px': canvas.width / 2 + 10, 'top.px': -pallette.offsetHeight - 20 }" (mousemove)="dragResize($event)"
    (mousedown)="resizeStart($event)" (touchmove)="dragResize($event)" (touchstart)="resizeStart($event)"></div>
  <button (click)="sendImage()">Send</button>
</div>