@import "~@angular/material/prebuilt-themes/indigo-pink.css";
div,
img,
h3,
button,
p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

canvas {
    border: 1px solid #ffffff20;
    border-radius: 3px;
    margin-bottom: -4px;
    position: relative;
}

.resizer {
    padding: 15px;
    background-color: #303030;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    pointer-events: all;
}

.header {
    display: flex;
    justify-content: stretch;
}

.header.wrapped {
    flex-direction: column;
    .server-section {
        justify-content: flex-end;
    }
}

.canvas-bg {
    background-color: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resize-head {
    background-color: #7289DA;
    width: 20px;
    height: 20px;
    position: relative;
    margin-bottom: -20px;
    bottom: 10px;
    border-top-left-radius: 0% !important;
    border-radius: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    pointer-events: all;
}

.pfp,
.icon {
    @size: 40px;
    width: @size;
    height: @size;
    background-size: @size @size;
    background-repeat: no-repeat;
    border-radius: @size;
}

.wrapped .user-section-container {
    margin-bottom: -10px;
}

.user-section-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
}

.server-section-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.user-section,
.server-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    .pfp,
    .icon {
        flex-shrink: 0;
    }
    .channel-name,
    .username {
        font-family: Roboto, Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: #7289da;
        margin: 0px 15px;
        white-space: nowrap;
        cursor: default;
    }
    .channel-name {
        text-align: end;
    }
}

canvas,
button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tools-container {
    margin-top: 10px;
}

.colors {
    display: flex;
    margin-bottom: 10px;
    padding: 15px;
}

.color {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0px;
    margin: 0.5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.color:hover {
    border-radius: 7px;
}

.colors.expand {
    background-color: #303030;
}

.color.selected{
    border-radius: 100%;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    .expand {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
    }
}

.error-overlay {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    pointer-events: none;
}

.palette-overlay,
.sizes-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.tools {
    display: flex;
    flex-direction: row;
    div {
        display: flex;
        flex-direction: row
    }
}

.tools-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid #ffffff20;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-right: 10px;
    border: 1px solid #ffffff20;
    padding: 0px;
    cursor: pointer;
}

.palette-tool {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 100%;
    margin-right: 10px;
}

.sizes {
    display: flex;
    flex-direction: row;
    background-color: #303030;
}

.size {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px;
    border: 1px solid #ffffff00;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.size.selected {
    border-radius: 100%;
    border: 1px solid #ffffff20;
}

.size-circle {
    border-radius: 100%;
    background-color: #ffffff !important;
}

.pen-tool {
    font-family: Material Icons, Roboto, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff20;
    background-color: #ffffff00;
    background-size: 0%;
}

.pen-tool.selected {
    color: white;
    background-color: #7289DA50;
}

.eraser-tool {
    font-family: Material Icons, Roboto, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff20;
    background-color: #ffffff00;
    background-size: 0%;
}

.eraser-tool.selected {
    color: white;
    background-color: #fcd73450;
}

.fill-tool {
    font-family: Material Icons, Roboto, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff20;
    background-color: #ffffff00;
    background-size: 0%;
}

.fill-tool.selected {
    color: white;
    background-color: rgba(86, 244, 54, 0.314);
}

.pan-tool {
    font-family: Material Icons, Roboto, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff20;
    background-color: #ffffff00;
    background-size: 0%;
}

.pan-tool.selected {
    color: white;
    background-color: #66bb6a50;
}

.clear-tool {
    font-family: Material Icons, Roboto, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff20;
    background-color: #ffffff00;
    background-size: 0%;
    -webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    -o-transition: all 0.05s ease;
    transition: all 0.05s ease;
}

.clear-tool:active {
    color: white;
    background-color: #f4433650;
}

button {
    margin-left: auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #7289DA !important;
}

button:active {
    filter: brightness(120%);
}

.send-button {
    text-align: right;
    display: inline;
    display: flex;
    flex-direction: row;
}

.send-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.send-icon {
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.send-icon.hidden{
    transform: scale(0);
    opacity: 0;
}

.send-icon.circle {
    left: -20px;
    margin-right: -20px;
    animation: spin 1s linear infinite;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 3px solid transparent;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.send-icon.pause{
    margin-left: -20px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sketch-logo{
    filter: invert(1);
    width: 100px;
    display: inline-block;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}



.logo{
    background-color: #7289DA;
}

p{
    font-family: Roboto;
    color: white;
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-top: 25px;
    margin-right: 25px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}
