<app-canvas></app-canvas>
<p>
  sketch-page works!
</p>
<h3>{{lastError}}</h3>
<div> {{ channelDetails.guildName }} </div>
<div> {{ channelDetails.channelName }} </div>
<div class="server-icon" *ngIf="user != null" [ngStyle]="{ 'background-image': 'url(' + channelDetails.guildIconUrl + ')' }"></div>

<button (click)="sendToVerify()">Verify</button>
<button (click)="logOut()">Log Out</button>
<br>
<div class="pfp" *ngIf="user != null" [ngStyle]="{ 'background-image': 'url(' + getPfpUrl() + ')' }"></div>