<div class="container">
  <div class="resizer">
    <div #header class="header" [ngClass]="{ 'wrapped': headerWrapped }">
      <div class="user-section-container">
        <div #user_section class="user-section">
          <div class="pfp" *ngIf="user != null" [ngStyle]="{ 'background-image': 'url(' + pfpUrl + ')' }"></div>
          <div class="username">{{'@' + (user.username.length > 15 ? user.username.slice(0, 15) + '...' :
            user.username)}}</div>
        </div>
      </div>
      <div class="server-section-container">
        <div #server_section class="server-section">
          <div class="channel-name">{{'#' + (channelDetails.channelName.length > 15 ?
            channelDetails.channelName.slice(0, 15) + '...' : channelDetails.channelName)}}</div>
          <div class="icon" *ngIf="user != null" [ngStyle]="{ 'background-image': 'url(' + channelDetails.guildIconUrl + ')' }"></div>
        </div>
      </div>
    </div>
    <div class="canvas-bg">
      <canvas #canvas>
      </canvas>
    </div>
    <div #tools class="tools-container">
      <div class="tools">
        <div class="tools-button palette-tool" (click)="paletteShown = true" [ngStyle]="{'background-color': canvasStroke.strokeStyle}"></div>
        <div class="tools-button size-tool" (click)="sizesShown = true">
          <div class="size-circle" [ngStyle]="{'width.px': canvasStroke.lineWidth, 'height.px': canvasStroke.lineWidth, 'background-color': canvasStroke.strokeStyle}"></div>
        </div>
        <div class="tools-button pen-tool" (click)="selectedTool = 'pen'" [ngClass]="{'selected': selectedTool == 'pen'}">pen</div>
        <div class="tools-button eraser-tool" (click)="selectedTool = 'eraser'" [ngClass]="{'selected': selectedTool == 'eraser'}">eraser</div>
      </div>
    </div>
  </div>
  <div #resize_head class="resize-head" [ngStyle]="{ 'left.px': canvas.width / 2 + 10, 'top.px': -tools.offsetHeight - 20 }"></div>
  <button (click)="sendImage()">Send</button>
</div>
<div *ngIf="lastError != ''" class="error-overlay overlay">
  {{lastError}}
</div>
<div class="palette-overlay overlay" [@paletteTransition]="paletteShown" (click)="paletteShown = false">
  <div class="colors expand">
    <div class="color" *ngFor="let c of colors" [ngStyle]="{'background-color': c}" (click)="changeColor(c)"></div>
  </div>
</div>
<div class="sizes-overlay overlay" [@paletteTransition]="sizesShown" (click)="sizesShown = false">
  <div class="sizes expand">
    <div class="size" *ngFor="let s of sizes" (click)="changeSize(s)">
      <div class="size-circle" [ngStyle]="{'width.px': s, 'height.px': s, 'background-color': canvasStroke.strokeStyle}"></div>
    </div>
  </div>
</div>